
h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebas Neue', sans-serif;
}

body{
    background-color: #FDDC3F;
}
/* Navigation */

.sidebar-sticky{
    width: 350px;
    height: 780px;
    background-color: #01644D;
    margin-left: -20px;
}

.sidebar-sticky .nav-link {
    color: #FDDC3F;
    font-family: 'Space Grotesk', sans-serif !important;
    font-weight: 400;
    font-style: normal;

    padding-bottom: -50px !important;



}

.nav-item .nav-link:hover {
    color: black;
    cursor: pointer;
}

.nav-item{
    padding-top: 30px;
    text-align: center;
    font-family: 'Space Grotesk', sans-serif !important;
    font-weight: 700 !important ;
    font-style: normal;

}
.logo{
    width: 226.697px;
    height: 196.076px;
    background-image: url('../assets/LOGO.svg');
    background-size: cover;
    background-position: center;
    margin-left: 50px;
    

}

/* main */

.col-md-4 h2 {
    
    font-size: 128px;
    padding-bottom: 30px;
    padding-top: 30px;
    color: #01644D;
}

form{
    font-family: 'Space Grotesk', sans-serif !important;
    font-weight: 400 !important ;
    font-style: normal;
    color: #01644D;

}

.form-control{

    height: 45px;
    border: 1px #01644D solid ;
    border-radius: 12px;
    background-color: #FDDC3F;
}

.btn.btn-primary {
    width: 200px;
    height: 45px;
    background-color: #01644D;
    color: #FDDC3F;
    border: 1px #01644D solid ;
    border-radius: 12px;
}

.btn.btn-primary :hover{
    color: #01644D;
    background-color: #FDDC3F;
    border: 1px #01644D solid ;
    cursor: pointer;
}

.image{
    width: 500px;
    height: 700px;
    background-color: #01644D;
    margin-top: 50px;
    margin-left: 40px;
    background-image: url('../assets/image1.jpeg');
    background-size: cover;
    background-position: center;
    border: 1.5px #01644D solid ;
    border-radius: 12px;
}